.dialog-form {
  background: white;
  padding: 50px;
  text-align: center;
}

.auth-pass {
  position: relative;

  &__forgot-link{
    position: absolute;
    right: 0;
    bottom: -10px;
  }
}

.b-auth-form{
  @pm: 50px;
  
  &__logo{
    display: inline-block;
    margin-bottom: @pm;
    max-width: 100%;
    
    img{
      width: 100%;
    }
  }
  &__btn{
    margin-top: @pm;
  }
}

.tbl-measure-list{
  &__td {
    padding: 10px 20px;
  }
}

// body{
//   display: none !important;
// }
.v-list-group__link{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: inherit!important;
  .v-list-item__title{
    text-decoration: underline;
  }
}
a.v-list-item--link {
  .v-list-item__title{
    text-decoration: underline;
  }
}
