<template>
  <v-app light class="d-flex">
    <v-app-bar app>Journal Bibliothek Maßnahmen</v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      permanent
      fixed
      width="356"
      id="nav-left"
    ><!-- expand-on-hover -->

      <v-list>
        <v-list-group
          :value="true"
          prepend-icon="mdi-home"
          @click="addLinkToItemList"
        >
          <template v-slot:activator>
            <v-list-item-title>Organisation</v-list-item-title>
          </template>
          <!-- Konzern AG (Amerika) -->
          <v-list-group
            no-action
            sub-group
            @click="addLinkToItemList"
            data-href="http://yandex.ru/"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>Konzern AG (Amerika)</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="([title, icon, href], i) in amerika"
              :key="i"
              link
              :href="href"
              target="_blank"
            >
              <v-list-item-title v-text="title"></v-list-item-title>
              <v-list-item-icon>
                <v-icon v-text="icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
          <!-- Organisatorische Einheit 1 -->
          <v-list-group
            no-action
            sub-group
            @click="addLinkToItemList"
            data-href="http://yandex.ru/"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>Organisatorische Einheit 1</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="([title, icon], i) in orgs1"
              :key="i"
              link
            >
              <v-list-item-title v-text="title"></v-list-item-title>

              <v-list-item-icon>
                <v-icon v-text="icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-group>
        <!-- Top level
          Kompetenzbereiche-->
        <v-list-group
          prepend-icon="mdi-account-circle"
          @click="addLinkToItemList"
        >
          <template v-slot:activator>
            <v-list-item-title>Kompetenzbereiche</v-list-item-title>
          </template>

          <v-list-group
            no-action
            sub-group
            @click="addLinkToItemList"
            data-href="http://yandex.ru/"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>Umweltschutz</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="([title, icon], i) in umwel"
              :key="i"
              link
            >
              <v-list-item-title v-text="title"></v-list-item-title>

              <v-list-item-icon>
                <v-icon v-text="icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-group>

      </v-list>
    </v-navigation-drawer>

    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      drawer: true,
      mini: true,
      umwel: [
        ['Menu', 'mdi-account-multiple-outline'],
        ['Menu2', 'mdi-cog-outline']
      ],
      orgs1: [
        ['Standort 1', 'mdi-plus-outline'],
        ['Standort 2', 'mdi-file-outline'],
        ['Standort 3', 'mdi-update']
      ],
      amerika: [
        ['Standort 1', 'mdi-plus-outline', 'http://yandex.ru/'],
        ['Standort 2', 'mdi-file-outline', 'http://yandex.ru/'],
        ['Standort 3', 'mdi-update', 'http://yandex.ru/']
      ]
    }
  },
  methods: {
    addLinkToItemList (event) {
      const item = $(event.currentTarget)
      const itemOther = $('.v-list-group__header')
      const itemLink = item.parent().data('href')
      console.log(itemLink)
      itemOther.each(function () {
        console.log($(this))
        if (!$(this).hasClass('v-list-item--active') && $(this).parent().is('a')) {
          $(this).unwrap()
        }
      })
      if (item.parent().is('a')) {
        item.unwrap()
      } else if (itemLink) {
        item.wrap("<a href='http://yandex.ru/' class='v-list-group__link' target='_blank'></a>")
      }
    }
  }
}
</script>
