<template>
<v-row justify="center" no-gutters>
<v-col cols="12" sm="8" md="6">
  <table class="tbl-measure-list">
    <thead>
      <tr>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Status</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Maßnahme</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Typ</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Freigabe</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">ID</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Zieltermin</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Rechtsquelle</th>
        <th class="tbl-measure-list__td tbl-measure-list__td_th">Herkunft</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="td in tdData.slice(0, 25)" :key="td.index">
        <td class="tbl-measure-list__td">{{ td.status }}</td>
        <td class="tbl-measure-list__td">{{ td.text }}</td>
        <td class="tbl-measure-list__td">{{ $data.tdTyp[td.typ - 1].bezeichnung }}</td>
        <td class="tbl-measure-list__td">{{ td.freigabe }}</td>
        <td class="tbl-measure-list__td">{{ td.massnahme_code }}</td>
        <td class="tbl-measure-list__td">{{ td.end }}</td>
        <td class="tbl-measure-list__td">{{ td.rechtsquelle.kurzbezeichnung }}</td>
        <td class="tbl-measure-list__td">{{ td.artikelgesetz.kurzbezeichnung ? td.artikelgesetz.kurzbezeichnung: '' }}</td>
      </tr>
    </tbody>
  </table>

  <v-dialog
    v-model="dialog"
    content-class="dialog-form"
    max-width="590"
  >
    <v-form class="b-auth-form">
      <a href="/" class="b-auth-form__logo">
        <img src="~/static/certlex-logo.png">
      </a>
      <v-text-field
        v-model="login.benutzerkennung"
        label="Email/Login"
      />
      <div class="auth-pass">
        <v-text-field
          v-model="login.password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          label="Password"
          @click:append="show1 = !show1"
        />
        <a href="/forgot" class="auth-pass__forgot-link">Forgot password</a>
      </div>
      <v-btn
        x-large
        color="primary"
        light
        width="100%"
        class="b-auth-form__btn"
        @click="userLogin"
      >
        Sign in
      </v-btn>
    </v-form>
  </v-dialog>
</v-col>
</v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  props: {},
  data () {
    return {
      dialog: !this.$auth.loggedIn, // popup visible
      show1: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters'
      },
      login: {
        benutzerkennung: 'test@user.de',
        password: 'TestUser2022#'
      },
      tdData: [],
      tdTyp: []
    }
  },
  mounted () {
    this.tdFetch()
    this.tdTypFetch()
  },
  methods: {
    async userLogin () {
      try {
        const response = await this.$auth.loginWith('local', { data: this.login })
        this.dialog = false
        this.tdFetch()
        this.tdTypFetch()
        console.log(response.data, 'login')
      } catch (err) {
        console.log(err)
      }
    },
    async tdFetch () {
      try {
        const response = await this.$axios.get('/rechtsmodul/massnahmen_list')
        console.log(response.data[1].artikelgesetz.kurzbezeichnung)
        this.tdData = response.data
      } catch (err) {
        console.log(err)
      }
    },
    async tdTypFetch () {
      try {
        const response = await this.$axios.get('/rechtsmodul/normtyp_list')
        console.log(response.data)
        this.tdTyp = response.data
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>
